@import "_variables.scss";
@import "_normalize.scss";
@import "_base.scss";
@import "_form.scss";


.button {
  display: inline-block;
  height: 60px;
  background-color: #314888;
  padding: 0px 43px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  margin-top: 50px;
  &:hover {
    background: #132455;
  }
  &:active {
    transform: translateY(1px);
  }
  &.button-top {
    background-color: white;
    color: #314888;
    &:hover {
      background: #ebebeb;
    }
  }
  &.button-b {
    width: 276px;
    height: 77px;
    font-size: 40px;
  }
  span {
    display: block;
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
  }
}

header {
  text-align: center;
  padding: 40px 0 140px;
  background: url(../img/header.jpg) center top no-repeat;
  background-size: cover;
  .btn-toggle {display: none;}
  .nav {
    text-align: center;
    position: relative;
    z-index: 2;
    li {
      display: inline-block;
      margin: 0 15px;
      a {
        display: inline-block;
        font-size: 17px;
        color: #fffefe;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  h1 {
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    margin: 155px 0 20px;
  }
  h4 {
    color: white;
    margin: 0;
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
  }

}





.title {
  text-align: center;
  color: black;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 4px;
    background-color: #1d468b;
  }
}

.dsc {
  color: black;
  font-size: 21px;
  font-weight: 700;
  line-height: 27px;
  font-family: 'Open Sans', sans-serif;
}

.w-8 {
  width: 71%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section-about {
  padding-top: 76px;
  text-align: center;
  .title-f {
    margin-bottom: 63px;
  }
  .dsc {
    margin-top: 55px;
  }
  .bg-video {
    margin-bottom: 140px;
   
  }  
  .list-1 {
    padding-top: 30px;
    display: inline-block;
    text-align: left;
    width: 85%;
    li {
      &:nth-child(3) {
        span {
          line-height: 32px;
        }
      }
      position: relative;
      padding-left: 63px;
      color: black;
      font-size: 19px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      margin-bottom: 20px;
      span {
        position: absolute;
        left: 0;
        top: 2px;
        width: 44px;
        height: 44px;
        border: 4px solid #1d468b;
        border-radius: 4px;
        text-align: center;
        color: black;
        font-size: 24px;
        line-height: 36px;
        b {
          display: inline-block;
          vertical-align: top;
          font-family: 'Merriweather', serif;
          font-weight: 400;
          width: 100%;
          text-align: center;
        }
      }
      strong {
        font-weight: 700;
      }
      p {
        margin: 0px 0 0;
        font-size: 19px;
        line-height: 23px;
      }
    }
  }
  .button {
    margin-top: 25px;
  }
}

.section-all {
  padding-top: 145px;
  .center-y {
    margin-bottom: 120px;
    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 140px;
    }
    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5) {
      text-align: center;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6) {
    }
  }

}

.column {
  text-align: justify;
  font-size: 1px;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
    overflow: hidden;
  }
  .center-y {

    display: inline-block;
    vertical-align: middle;
    width: 45%;
    p {
      text-align: left;
    }
    
  }
  .head {
    font-size: 60px;
    line-height: 62px;
    margin-bottom: 35px;
    font-weight: 700;
  }
  p {
    color: black;
    font-size: 19px;
    line-height: 23px;
    font-family: 'Open Sans', sans-serif;
  }
  img {
  }
}

.section-program {
  padding-bottom: 70px;
  .title {
    margin-bottom: 72px;
  }
}

.flex-container-2 {
  display: flex;
  justify-content: center;
  flex-wrap:  wrap;
  margin-bottom: 65px;
  .flex-item {
    width: 360px;
    background-color: #f6f6ff;
    margin: 0 25px;
    .img-h {
      height: 145px; 
      position: relative;
      padding-left: 32px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(49, 72, 136, .35);
        top: 0;
        left: 0;
        right: 0;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
      }
      .center-y {
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 50%;
        left: 0;
        padding-left: 32px;
        transform: translateY(-50%);
        color: white;
        font-size: 20px;
        font-weight: 700;
        span {
          font-size: 30px;
          display: block;
          margin-bottom: 10px;
        }
      }
    }
    .list-2 {
      padding: 33px 20px 30px 32px;
      li {
        font-size: 19px;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 7px;
        padding-left: 23px;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 8px;
          width: 8px;
          height: 8px;
          background-color: #1d468b;
        }
      }
    }
  }
}

.flex-container-1 {
  display: flex;
  justify-content: center;
  flex-wrap:  wrap;
  padding-top: 69px;
  padding-bottom: 125px;
  .flex-item {
    width: 273px;
    background-color: #f6f6fc;
    margin: 0 16px;
    padding-bottom: 40px;
    img {
      max-height: 205px;
      margin-bottom: 26px;
    }
    .title-2,
    p {
      padding-left: 25px;
      padding-right: 22px;
    }
    .title-2 {
      font-size: 21px;
      line-height: 23px;
      font-weight: 700;
    }
    p {
      font-size: 17px;
      line-height: 22px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      &:nth-of-type(1) {
        margin: 10px 0;
      }
    }
  }
}

.section-line {
  text-align: center;
  background-color: #1d468b;
  p {
    color: white;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    width: 73%;
    margin: 0 auto;
    padding: 75px 0;
  }
}

.wrapper {
  width: 89%;
  margin-left: auto;
  margin-right: auto;
}
.note {
  font-size: 17px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  a {
    color: #1d468b;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.section-comment {
  padding-bottom: 133px;
  padding-top: 72px;
  .button {
  }
}

.slider-wrapp {
  background-color: #f6f6ff;
  padding-top: 55px;
  padding-bottom: 40px;
  margin-bottom: 35px;
  margin-top: 70px;
 &+.note {
  margin-bottom: 20px;
}
.comment-img {
  float: left;
  display: block;
  margin-left: 135px;
}
.comment-text {
  padding-right: 115px;
  margin-left: 335px;
  font-family: 'Open Sans', sans-serif;
  }
  p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 17px;
    font-weight: 400;
  }
  .name-t {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
  }
  .office-t {
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 4px;
  }

}

.section-homework {
  .title {
    margin-bottom: 60px;
  }
  .dsc {
    margin-bottom: 55px;
  }
  .center-y {
    width: 49%;
    margin-bottom: 75px;
    &:first-child {
      width: 55%;
    }
    &:nth-child(2) {
      width: 43%;
    }
    &:nth-child(3) {
      width: 43%;
    }
    &:nth-child(4) {
      width: 55%;
    }
    &:nth-child(2),
    &:nth-child(3) {
      text-align: center;
    }
  }
}

.work-case {
  position: relative;
  padding-left: 76px;
  .head-2 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
  }
  &.l-h {
    span {
      line-height: 32px;
    }
  }
  span {
    position: absolute;
    left: 0;
    top: 2px;
    width: 44px;
    height: 44px;
    line-height: 36px;
    border: 4px solid #1d468b;
    border-radius: 4px;
    text-align: center;
    color: black;
    font-size: 24px;
    b {
      display: inline-block;
      vertical-align: top;
      font-family: 'Merriweather', serif;
      font-weight: 400;
      width: 100%;
      text-align: center;
    }
    
  }
  p b {
    display: block;
  }
}

.course {
  padding-top: 40px;
  .title {
    margin-bottom: 70px;
  }
}

.person-wrapp {
  width: 71%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;

  &.pers-text {
    margin-bottom: 20px;
    background-color: #f6f6ff;
    padding-top: 15px;
    &> div {
      padding-top: 15px;
    }
  }
  b {
    font-size: 19px;
    font-weight: 700;
    padding-left: 25px;
  }
  p {
    padding-left: 25px;
    font-size: 19px;
    line-height: 22px;
    font-weight: 400;
    margin: 7px 0;
    padding-bottom: 40px;
  }
  img {
    height: 275px;
    width: 100%;
  }
  .abs-block {
    position: absolute;
    top: 50%;
    padding-left: 45px;
    padding-right: 60px;
    transform: translateY(-50%);
    .note-1 {
      color: white;
      font-size: 17px;
      margin-top: 10px;
      font-family: 'Merriweather', serif;
    }
    .head-3 {
      color: white;
      font-family: 'Merriweather', serif;
      font-size: 30px;
      line-height: 40px;
      font-weight: 700;
      span {
        display: block;
        font-weight: 400;
      }
    }
  }
  & > div:first-child {
    width: 64%;
    position: relative;
    background-color: #f6f6ff;
    p {
      padding-right: 95px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      right: 0;
      top: 0;
      background: #fff;
    }
  }
  & > div:last-child {
    width: 36%;
    background-color: #f6f6ff;
    b {
      padding-left: 13px;
    }
    p  {
      padding-right: 15px;
      padding-left: 13px;
    }
  }
}


.section-partnership {
  padding-top: 135px;
  padding-bottom: 90px;
  .flex-container-3 {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .flex-item {
      width: 38%;
      background-color: #f6f6ff;
      margin: 0 32px;
      padding: 70px 40px 230px;
      position: relative;
      .abs-2 {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        left: 0 !important;
      }
    }
    .abs-2 {
      position: absolute;
      bottom: 35px;
      left: 40px;
    }
    .text-lg {
      margin-bottom: 15px;
      font-size: 40px;
      font-weight: 700;
    }
    .text-sm {
      font-size: 17px;
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
    }
    .text-desc {
      margin: 23px 0 7px;
      font-size: 21px;
    }
    .text-practice {
      font-size: 21px;
      margin: 10px 0;
      font-family: 'Open Sans', sans-serif;
    }
    .note-2 {
      margin-top: 10px;
      color: #010101;
      font-size: 17px;
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
    }
    .list-3 {
      li {
        position: relative;
        padding-left: 24px;
        font-size: 17px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        &:before {
          content: '';
          display:block;
          position: absolute;
          left: 0;
          top: 7px;
          width: 6px;
          height: 6px;
          background-color: #1d468b;
        }
      }
    }
  }
  .img-2 {
    margin-bottom: 30px;
    height: 192px;
    img {
      display: block;
    }
  }

}


.line {
  text-align: center;
  background-color: #1d468b;
  padding: 45px 0;
  h4 {
    font-size: 21px;
    font-weight: 400;
    margin: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    a {
      text-decoration: underline;
      color: #f6f6ff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


.map {
  height: 250px;
}

footer {
  background-color: #1d468b;
  padding: 40px 0;
  .footer-wrapp {
    text-align: justify;
    font-size: 1px;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0;
      overflow: hidden;
    }
    &>div,
    &>div a {
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
      color: #fffefe;
      font-size: 21px;
      font-weight: 700;
      span {
        font-weight: 400;
        display: block;
      }
    }
  }
}